/* Default React style */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Animasi fade in */
.card {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


/* Card */
.login-card {
  width: 400px;
  border-radius: 12px;
  border: none;
  background-color: #ffffff;
}

/* Input */
.login-input {
  border: 1px solid #b79df2;
  transition: 0.3s;
}
.login-input:focus {
  border-color: #6f42c1;
  box-shadow: 0 0 8px rgba(111, 66, 193, 0.4);
}

/* Button */
.login-btn {
  background-color: #6f42c1;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}
.login-btn:hover {
  background-color: #5a33a1;
  box-shadow: 0 0 10px rgba(111, 66, 193, 0.4);
}
